In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'group':list('aaaabbbb'),
                   'val':[1,3,3,np.NaN,5,6,6,2],
                   'id':[1,np.NaN,np.NaN,np.NaN,np.NaN,3,np.NaN,3]})

In [4]:
df

  group  val   id
0     a  1.0  1.0
1     a  3.0  NaN
2     a  3.0  NaN
3     a  NaN  NaN
4     b  5.0  NaN
5     b  6.0  3.0
6     b  6.0  NaN
7     b  2.0  3.0

In [6]:
df.isna().mean()*100

group     0.0
val      12.5
id       62.5
dtype: float64

In [7]:
df1 = df.loc[:,df.isna().mean() <= .5]

In [8]:
df1

  group  val
0     a  1.0
1     a  3.0
2     a  3.0
3     a  NaN
4     b  5.0
5     b  6.0
6     b  6.0
7     b  2.0

In [9]:
set.seed(0)

AttributeError: type object 'set' has no attribute 'seed'

In [10]:
dat <- matrix(1:100, 10, 10)

SyntaxError: invalid syntax (<ipython-input-10-602158acd8d2>, line 1)

In [12]:
df[(df.isna().sum(1)/df.shape[1]).gt(0.5)]

  group  val  id
3     a  NaN NaN

In [14]:

df.head()

  group  val   id
0     a  1.0  1.0
1     a  3.0  NaN
2     a  3.0  NaN
3     a  NaN  NaN
4     b  5.0  NaN

In [15]:
df.isnull()

   group    val     id
0  False  False  False
1  False  False   True
2  False  False   True
3  False   True   True
4  False  False   True
5  False  False  False
6  False  False   True
7  False  False  False

In [23]:
df.isna().sum().gt(4)

group    False
val      False
id        True
dtype: bool

In [17]:
df.isna().sum(1)

0    0
1    1
2    1
3    2
4    1
5    0
6    1
7    0
dtype: int64

In [18]:
df.shape[1]

3

In [19]:
df.isna().sum(1)/df.shape[1]

0    0.000000
1    0.333333
2    0.333333
3    0.666667
4    0.333333
5    0.000000
6    0.333333
7    0.000000
dtype: float64

In [22]:
(df.isna().mean(axis=1))>.5

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [21]:
df.isna().mean()

group    0.000
val      0.125
id       0.625
dtype: float64

In [25]:
df[((df.isna().mean()).gt(0.05))]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [28]:
df[(df.isna().sum(1)/df.shape[1]).gt(0.5)]

  group  val  id
3     a  NaN NaN

In [34]:
df.isna().mean(axis=1).gt(0.5)

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
dtype: bool